<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="thunder_gqls">
  <description>PHP CodeSniffer configuration for Thunder GraphQL schema development.</description>
  <file>.</file>
  <exclude-pattern>/vendor/*</exclude-pattern>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,yml"/>
  <config name="drupal_core_version" value="9"/>
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
