parameters:
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: true
  level: 6
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
    - identifier: missingType.generics
    - identifier: missingType.iterableValue
includes:
  - ./phpstan-baseline.neon
