parameters:
  drupal:
    drupal_root: %currentWorkingDirectory%/docroot
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  # Ignore phpstan-drupal extension's rules.
  ignoreErrors:
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
    - '#Plugin definitions cannot be altered.#'
    - '#Missing cache backend declaration for performance.#'
    - '#Plugin manager has cache backend specified but does not declare cache tags.#'
  excludes_analyse:
    - docroot/modules/contrib/rules/*
    - docroot/modules/contrib/graphql/*
    - docroot/modules/contrib/schema_metatag/*
    - docroot/modules/contrib/typed_data/*
  autoload_files:
    - docroot/modules/contrib/token/token.module
includes:
  - ./vendor/mglaman/phpstan-drupal/extension.neon
  - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
