parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\ContentEntityInterface\\:\\:\\$field_teaser_media\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/SchemaExtension/ThunderPagesSchemaExtension.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\ContentEntityInterface\\:\\:\\$field_teaser_text\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/SchemaExtension/ThunderPagesSchemaExtension.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$status\\.$#"
			count: 1
			path: modules/thunder_taxonomy/src/ThunderTermAccessControlHandler.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Extension\\\\Extension\\:\\:\\$requires\\.$#"
			count: 1
			path: src/Installer/Form/ModuleConfigureForm.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Extension\\\\Extension\\:\\:\\$status\\.$#"
			count: 5
			path: src/Installer/Form/ModuleConfigureForm.php

		-
			message: "#^Drupal\\\\Tests\\\\BrowserTestBase\\:\\:\\$defaultTheme is required\\. See https\\://www\\.drupal\\.org/node/3083055, which includes recommendations on which theme to use\\.$#"
			count: 1
			path: tests/src/Functional/Installer/ThunderInstallerGermanTest.php

		-
			message: "#^Drupal\\\\Tests\\\\BrowserTestBase\\:\\:\\$defaultTheme is required\\. See https\\://www\\.drupal\\.org/node/3083055, which includes recommendations on which theme to use\\.$#"
			count: 1
			path: tests/src/Functional/Installer/ThunderInstallerTest.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Session\\\\AccountInterface\\:\\:\\$pass_raw\\.$#"
			count: 1
			path: tests/src/Functional/ThunderTestBase.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Entity\\\\EntityInterface\\:\\:\\$field_media\\.$#"
			count: 1
			path: tests/src/FunctionalJavascript/Integration/EntityReferenceActionsTest.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Session\\\\AccountInterface\\:\\:\\$pass_raw\\.$#"
			count: 1
			path: tests/src/FunctionalJavascript/ThunderJavascriptTestBase.php

		-
			message: "#^Call to method id\\(\\) on an unknown class Drupal\\\\entity_browser\\\\Entity\\\\EntityBrowser\\.$#"
			count: 1
			path: thunder.post_update.php

		-
			message: "#^Call to static method loadMultiple\\(\\) on an unknown class Drupal\\\\entity_browser\\\\Entity\\\\EntityBrowser\\.$#"
			count: 1
			path: thunder.post_update.php

		-
			message: "#^PHPDoc tag @var for variable \\$entity_browser contains unknown class Drupal\\\\entity_browser\\\\Entity\\\\EntityBrowser\\.$#"
			count: 1
			path: thunder.post_update.php
