parameters:
  customRulesetUsed: true
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: true
  level: 6
includes:
  - ./phpstan-baseline.neon
