parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_article/src/Form/NodeRevisionRevertDefaultForm.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_article/src/Plugin/Derivative/DynamicLocalTasks.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/EntityLinks.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/FocalPoint.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/MenuLinksActiveTrail.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/MetaTags.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/ThunderEntityListProducerBase.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/ThunderEntitySubRequestBase.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/ThunderImage.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/ThunderRedirect.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Plugin/GraphQL/DataProducer/ThunderSearchApiProducerBase.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Wrappers/EntityListResponse.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: modules/thunder_gqls/src/Wrappers/EntityListResponse.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_gqls/src/Wrappers/SearchApiResponse.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: modules/thunder_taxonomy/src/ThunderTaxonomyPermissions.php

		-
			message: "#^Drupal\\\\Tests\\\\BrowserTestBase\\:\\:\\$defaultTheme is required\\. See https\\://www\\.drupal\\.org/node/3083055, which includes recommendations on which theme to use\\.$#"
			count: 1
			path: tests/src/Functional/Installer/ThunderInstallerGermanTest.php

		-
			message: "#^Drupal\\\\Tests\\\\BrowserTestBase\\:\\:\\$defaultTheme is required\\. See https\\://www\\.drupal\\.org/node/3083055, which includes recommendations on which theme to use\\.$#"
			count: 1
			path: tests/src/Functional/Installer/ThunderInstallerTest.php

		-
			message: "#^Class Drupal\\\\Tests\\\\TestSuites\\\\ThunderTestSuite extends @internal class PHPUnit\\\\Framework\\\\TestSuite\\.$#"
			count: 1
			path: tests/src/TestSuites/ThunderTestSuite.php

		-
			message: "#^Function drupal_phpunit_find_extension_directories not found\\.$#"
			count: 1
			path: tests/src/TestSuites/ThunderTestSuite.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: tests/src/TestSuites/ThunderTestSuite.php

		-
			message: "#^Call to static method loadMultiple\\(\\) on an unknown class Drupal\\\\entity_browser\\\\Entity\\\\EntityBrowser\\.$#"
			count: 1
			path: thunder.post_update.php
