.media--type-gallery.media--view-mode-paragraph-preview .field__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 5px;
}
.media--type-gallery.media--view-mode-paragraph-preview .field__items img {
  display: block;
}
.media--type-gallery.media--view-mode-paragraph-preview {
  display: block;
}
