.content-form__form-section.base-info .field--name-title .form-element,
.content-form__form-section.base-info .field--name-field-seo-title .form-element,
.content-form__form-section.base-info .field--name-field-tags .form-element {
  width: 100%;
}

@media screen and (min-width: 48em) {
  .content-form__form-section > .fieldset__wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*
 * Render fields inline.
 * Media query as found in gin theme.
 */
@media only screen and (min-width: 36em) {
  .content-form__form-section.article-teaser > .fieldset__wrapper {
    display: flex;
  }
}
/* Fix throbber position */
.content-form__form-section.article-teaser .fieldset__suffix {
  display: flex;
  flex-direction: column;
}

.content-form__form-section.article-teaser .field--name-field-teaser-media {
  width: 20%;
}

.content-form__form-section.article-teaser .field--name-field-teaser-media .media-library-widget {
  margin-top: var(--space-l);
  margin-right: var(--space-l);
  padding-top: 0;
}

.content-form__form-section.article-teaser .field--name-field-teaser-media .media-library-selection .media-library-item--grid {
  width: 100%;
}

/* Paragraphs section */

.field--name-field-paragraphs .paragraphs-tabs-wrapper table.field-multiple-table:first-of-type thead {
  display: none;
}

.paragraph-type--link .paragraphs-subform .field--name-field-link table.field-multiple-table:first-of-type thead {
  display: none;
}

.paragraph-type--text .paragraphs-subform .field--name-field-text label,
.paragraph-type--quote .paragraphs-subform .field--name-field-text label {
  display: none;
}
.paragraph-type--link .paragraphs-subform .field--name-field-link,
.paragraph-type--text .paragraphs-subform .field--name-field-text,
.paragraph-type--quote .paragraphs-subform .field--name-field-text {
  margin-top: var(--space-l);
}

/* Reset media and ief widget fieldsets. */

.field--widget-inline-entity-form-simple > fieldset .fieldset__legend,
fieldset.media-library-widget .fieldset__legend,
fieldset.media-library-widget .help-icon__description-toggle {
  display: none;
}

.field--widget-inline-entity-form-simple > fieldset .fieldset__wrapper,
fieldset.media-library-widget .fieldset__wrapper {
  margin: 0;
}

.field--widget-inline-entity-form-simple > fieldset,
fieldset.media-library-widget {
  border: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

/* Hide empty text */
fieldset.media-library-widget .media-library-widget-empty-text {
  display: none;
}
