{#
/**
 * @file
 * Theme override for a media-images field in paragraphs preview view mode.
 *
 * @see template_preprocess_field()
 */
#}

<div{{ attributes.addClass('thumbnail-quadruple') }}>
  {% for i in 0..3 %}
    <div class="thumbnail-quadruple__item">
      {% if items[i] %}
        {{ items[i].content }}
      {% endif %}
    </div>
  {% endfor %}
</div>
