// @import 'core/themes/claro/css/base/variables.pcss.css';

.dialog-off-canvas-main-canvas.dialog-off-canvas-main-canvas .layout-container {
  margin: 0;
}
.entity-browser-image-browser-form.entity-browser-form {
  padding: 0;
}
.ajax-progress-throbber {
  display: none;
}
.view-entity-browser .view-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: var(--space-s);

  .views-row {
    padding: var(--space-m);
  }
}
