.paragraphs-paste-action {
  margin: .5em;
  background: #f5f5f2;
  border: 3px dashed hsla(0, 0%, 42%, 0.65);
  border-radius: 5px;
  cursor: pointer;
}

.paragraphs-paste-action .paragraphs-paste-message {
  text-align: center;
  margin: 2em 0;
}
