name: Run distribution tests

on:
  pull_request:
    branches:
      - 8.x-[1-9]+.x
      - 6.[0-9]+.x
    paths-ignore:
      - '**.md'

  schedule:
    - cron:  '0 7 * * *'

env:
  DRUPAL_TESTING_COMPOSER_PROJECT: thunder/thunder-project
  DRUPAL_TESTING_DATABASE_USER: root
  DRUPAL_TESTING_DATABASE_PASSWORD: root
  DRUPAL_TESTING_TEST_DEPRECATION: false
  DRUPAL_TESTING_TEST_DUMP_FILE: db-dump.php
  DRUPAL_TESTING_DATABASE_ENGINE: mysql
  DRUPAL_TESTING_TEST_CODING_STYLES: false
  DRUPAL_TESTING_TEST_PROFILE: thunder
  DRUPAL_TESTING_TEST_GROUP: Thunder
  THUNDER_ADMIN_BRANCH: 4.x
  PUSHER_CREDENTIALS: ${{ secrets.PUSHER_CREDENTIALS }}

jobs:

  build:

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        PHP_VERSION: ['8.0']

    steps:
      - uses: actions/checkout@v1

      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: ${{ matrix.PHP_VERSION }}
          extensions: Imagick

      - name: Start MySql service
        run: |
          sudo /etc/init.d/mysql start

      - name: Cache composer dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: ${{ runner.os }}-composer-cache-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-cache-

      - name: Get build environment
        run: |
          composer global require thunder/drupal-testing:dev-verbose-php-server

      - name: Prepare the build
        run: test-drupal-project prepare_build

      - name: Add needed dependencies
        run: composer require "drupal/core-dev:~9.1.0" "phpspec/prophecy-phpunit:^2" "drupal/nexx_integration:^3.4" "valiton/harbourmaster:~8.1" --no-update --no-progress --working-dir=/tmp/test/thunder/install

      - name: Set composer bin path
        run: composer config bin-dir bin/ --working-dir=/tmp/test/thunder/install

      - name: Build the docroot
        run: test-drupal-project build

      - name: Get custom thunder_admin branch
        run: |
          rm -rf thunder_admin
          git clone --depth 1 --single-branch --branch "${THUNDER_ADMIN_BRANCH}" https://github.com/BurdaMagazinOrg/theme-thunder-admin.git thunder_admin
        working-directory: /tmp/test/thunder/install/docroot/themes/contrib

      - name: Install drupal
        run: test-drupal-project install

      - name: Zip build
        run: cd /tmp/test; tar cfz build-${{ matrix.PHP_VERSION }}.tgz thunder; mv build-${{ matrix.PHP_VERSION }}.tgz ${GITHUB_WORKSPACE}

      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: build-${{ matrix.PHP_VERSION }}
          path: build-${{ matrix.PHP_VERSION }}.tgz

  test-max:
    needs: build

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        PHP_VERSION: [ '8.0']

    steps:

    - name: Set up stuff
      run: |
        ulimit -c unlimited

    - uses: actions/checkout@v1

#    - uses: shivammathur/setup-php@v2
#      with:
#        coverage: none
#        php-version: ${{ matrix.PHP_VERSION }}
#        extensions: Imagick, gd, pdo_mysql
#        # Turn off pcre.jit until https://www.drupal.org/project/drupal/issues/3181644 is solved.
#        ini-values: pcre.jit=0
    - name: PHP Debug build
      run: |
        sudo apt install  autoconf  re2c  bison  libsqlite3-dev  libpq-dev  libonig-dev  libfcgi-dev  libfcgi0ldbl  libjpeg-dev  libpng-dev  libssl-dev  libxml2-dev  libcurl4-openssl-dev  libxpm-dev  libgd-dev  libmysqlclient-dev  libfreetype6-dev  libxslt1-dev  libpspell-dev  libzip-dev  libgccjit-10-dev
        git clone https://github.com/php/php-src.git
        cd php-src/
        git checkout php-8.0.3
        ./buildconf --force
        sudo ./configure  --prefix=/opt/php/php8  --enable-cli  --enable-fpm  --enable-intl  --enable-mbstring  --enable-opcache  --enable-sockets  --enable-soap  --with-curl  --with-freetype  --with-fpm-user=www-data  --with-fpm-group=www-data  --with-jpeg  --with-mysql-sock  --with-mysqli  --with-openssl  --with-pdo-mysql --with-xsl  --with-zlib  --enable-debug --enable-gd
        sudo make
        sudo make install
        sudo ln -sfn /opt/php/php8/bin/php /usr/bin/php
        touch /opt/php/php8/lib/php.ini
        echo -e "pcre.jit=0" | tee -a /opt/php/php8/lib/php.ini
        echo -e "memory_limit=-1" | tee -a /opt/php/php8/lib/php.ini
        echo -e "zend_extension=/opt/php/php8/lib/php/extensions/debug-non-zts-20200930/opcache.so" | tee -a /opt/php/php8/lib/php.ini
        php -v
        cd -

#    - name: Setup problem matchers for PHP
#      run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"
#
#    - name: Setup problem matchers for PHPUnit
#      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Start MySql service
      run: |
        sudo /etc/init.d/mysql start

    - name: Get build environment
      run: composer global require thunder/drupal-testing:dev-verbose-php-server

    - name: Download build
      uses: actions/download-artifact@v1
      with:
        name: build-${{ matrix.PHP_VERSION }}

    - name: Unzip build artifact
      run: mkdir -p /tmp/test; tar xCfz /tmp/test build-${{ matrix.PHP_VERSION }}/build-${{ matrix.PHP_VERSION }}.tgz thunder; rm -rf build-${{ matrix.PHP_VERSION }}

#    - name: Run config tests
#      run: test-drupal-project -v run_tests -nc
#      env:
#        DRUPAL_TESTING_TEST_GROUP: ThunderConfig

    - name: Run installer tests
      run: |
        ulimit -c unlimited
        sudo sysctl -w kernel.core_pattern=/tmp/core-%e.%p.%h.%t
        test-drupal-project -v run_tests -nc || true
      # sudo chmod -R +rwx /cores/*
      env:
        DRUPAL_TESTING_TEST_GROUP: ThunderInstaller
#
#    - name: Install debug symbols
#      run: |
#        LC_ALL=C.UTF-8 sudo apt-add-repository "deb http://ppa.launchpad.net/ondrej/php/ubuntu focal main main/debug"
#        sudo apt install gdb php8.0-cli-dbgsym php8.0-common-dbgsym

      #   Start a debug session.
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3

    - name: Upload crashes
      uses: actions/upload-artifact@master # capture all crashes as build artifacts
      with:
        name: crashes
        path: /cores

  test-upgrade:

    runs-on: ubuntu-20.04

    if: ${{ contains(github.event.pull_request.labels.*.name, 'test-upgrade') || github.event_name == 'schedule' }}

    env:
      DRUPAL_TESTING_COMPOSER_PROJECT_VERSION: 3.0.8
      DRUPAL_TESTING_INSTALLATION_FORM_VALUES: "thunder_module_configure_form.install_modules_thunder_demo=NULL"
      DRUPAL_TESTING_TEST_GROUP_EXCLUDE: "NoUpdate"

    steps:
      - uses: actions/checkout@v1

      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: '7.3'
          extensions: Imagick, gd, pdo_mysql
          tools: composer:v1

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Start MySql service
        run: |
          sudo /etc/init.d/mysql start
          mysql -uroot -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"

      - name: Cache composer dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: ${{ runner.os }}-composer-cache-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-cache-

      - name: Get build environment
        run: composer global require thunder/drupal-testing:dev-verbose-php-server

      - name: Prepare the build
        run: test-drupal-project prepare_build

      - name: Use Thunder 3.4 lockfile
        run: |
          touch /tmp/test/thunder/finished-stages/build
          cp ${GITHUB_WORKSPACE}/tests/fixtures/thunder3-4.composer.lock composer.lock
          composer install
        working-directory: /tmp/test/thunder/install

      - name: Install drupal
        run: test-drupal-project install

      - name: Update the docroot
        run: |
          composer require thunder/thunder-distribution:^3.5.0 phpunit/phpunit:^7 --no-update
          chmod -R +w docroot/sites/default
          composer update
          vendor/bin/drush updb -y

          vendor/bin/drush pmu libraries update -y

          composer remove thunder/thunder-distribution phpunit/phpunit

          composer config name "drupal-testing-thunder/thunder-distribution" --working-dir="${GITHUB_WORKSPACE}"
          composer require phpunit/phpunit:~9.4.3 "phpspec/prophecy-phpunit:^2" "drupal-testing-thunder/thunder-distribution:*" --no-update

          chmod -R +w docroot/sites/default
          composer update
          vendor/bin/drush updb -y

          cd docroot
          php core/scripts/db-tools.php dump-database-d8-mysql > db-dump.php
        working-directory: /tmp/test/thunder/install

      - name: Run tests suite
        run: test-drupal-project run_tests

  test-min:

    runs-on: ubuntu-20.04

    if: ${{ contains(github.event.pull_request.labels.*.name, 'test-min') || github.event_name == 'schedule' }}

    env:
      DRUPAL_TESTING_DRUPAL_VERSION: '~9.1.0'

    steps:
      - uses: actions/checkout@v1

      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: '7.3'
          extensions: Imagick, gd, pdo_mysql

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Start MySql service
        run: |
          sudo /etc/init.d/mysql start
          mysql -uroot -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"

      - name: Cache composer dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache
          key: ${{ runner.os }}-composer-cache-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-cache-

      - name: Get build environment
        run: |
          composer self-update
          composer global require thunder/drupal-testing:dev-verbose-php-server

      - name: Prepare the build
        run: test-drupal-project prepare_build

      - name: Install suggested dependencies
        run: composer require "drupal/core-dev:~9.1.0" "phpspec/prophecy-phpunit:^2" "consolidation/robo:^2.0" "drupal/nexx_integration:^3.4" "valiton/harbourmaster:~8.1" --no-update --no-progress --working-dir=/tmp/test/thunder/install

      - name: Build the docroot
        run: test-drupal-project build
        env:
          DRUPAL_TESTING_MIN_BUILD: true

      - name: Test for deprecations
        run: test-drupal-project deprecation
        continue-on-error: true

      - name: Run the tests
        run: test-drupal-project run_tests

  test-performance:
    needs: [build, test-max]

    runs-on: ubuntu-20.04

    if: ${{ contains(github.event.pull_request.labels.*.name, 'test-performance') || github.event_name == 'schedule' }}

    steps:
      - uses: actions/checkout@v1
        with:
          repository: thunder/docker-thunder-performance
          path: thunder-distribution/docker-thunder-performance
          ref: 'master'

      - uses: shivammathur/setup-php@master
        with:
          coverage: none
          php-version: '7.4'
          extensions: Imagick

      - name: Download build
        uses: actions/download-artifact@v1
        with:
          name: build-7.4

      - name: Unzip build artifact
        run: mkdir -p /tmp/test; tar xCfz /tmp/test build-7.4/build-7.4.tgz thunder; rm -rf build-7.4; mv /tmp/test/thunder/install ${GITHUB_WORKSPACE}/docker-thunder-performance/www

      - name: Set variables
        id: vars
        # GITHUB_HEAD_REF is only defined in PRs. GITHUB_REF is on the default branch something like refs/heads/8.x-4.x.
        # So if GITHUB_HEAD_REF is not defined we use GITHUB_REF and remove leading refs/heads/. On the result / will replaced by _
        run: |
          echo ::set-output name=DOCKER_SANITIZED_BRANCH_NAME::$(echo ${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}} | sed 's/\//_/g')
          echo ::set-output name=DOCKER_TAG::$(echo ${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}} | sed 's/\//_/g')-${{ github.run_id }}

      - name: Create image and push to registry
        working-directory: docker-thunder-performance
        run: |
          echo ${{ secrets.DOCKER_TOKEN }} | docker login -u thundertechnology --password-stdin
          export DOCKER_IMAGE_TAG="burda/thunder-performance:${{ steps.vars.outputs.DOCKER_TAG }}"
          composer config bin-dir vendor/bin/ --working-dir=./www
          chmod u+w www/docroot/sites/default
          bash -x ./build.sh --tag "${DOCKER_IMAGE_TAG}"
          docker push "${DOCKER_IMAGE_TAG}"

      - name: Start Thunder performance testing task for created image
        run: |
          API_CALL_HTTP_CODE=$(curl \
          --request POST \
          --insecure \
          "https://${{ secrets.THUNDER_PTM_HOST }}:3000/warmers" \
          --header "Authorization: Bearer ${{ secrets.THUNDER_PTM_TOKEN }}" \
          --header "Content-Type: application/json" \
          --data "{\"branchTag\":\"${{ steps.vars.outputs.DOCKER_SANITIZED_BRANCH_NAME }}\",\"imageTag\":\"${{ steps.vars.outputs.DOCKER_TAG }}\",\"composeType\":\"default\"}" \
          --output /dev/stderr \
          --write-out "%{http_code}" \
          )

          if [[ "${API_CALL_HTTP_CODE}" != "200" ]]; then
            exit 1
          fi

#   Start a debug session.
#   - name: Setup tmate session
#     uses: mxschmitt/action-tmate@v3
